{% block body %}
    <h3>Reinicio de contraseña</h3>

    Hola {{ name }} has solicitado reiniciar tu contraseña por olvido.
    
    Ingresa al enlace que se muestra a continuación y sigue las instrucciones.
    
    http://blog.dev/reset_pass

    ¡Gracias!

{% endblock %}