{% block body %}
    <h3>Felicidades, ha completado el registro</h3>

    Hola {{ name }} le damos una cordial bienvenida a nuestra plataforma digital.
    
    Ingresa en el enlace que se encuentra a continuación y comienza a disfrutar.
    
    http://blog.dev/

    ¡Gracias!

{% endblock %}
