{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="blog-title">Mi Blog</h1>
    <hr style="border-width: 5px;">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <h1>{{ post.title }}</h1>
                <p>Por: {{ post.username }} </p>
                <p>Publicado: {{ post.createdAt|date('d-m-Y H:m:s') }}</p>
                <hr style="border-width: 3px;">
                <p>{{ post.content }}</p>
                <br>
                <hr style="border-width: 3px;">
            {% endfor %}
        </div>
    </div>
{% endblock %}